# .gitignore
node_modules/
.vscode/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*git rm -r --cached dist # キャッシュを削除
git add dist
git commit -m "Fix: Track dist directory"
git push origin main
.vercel
